@{
    Layout = null;
}






<!DOCTYPE html>
<html>
<head>
    <title>Microsoft Cognitive Services Speech SDK JavaScript Quickstart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="utf-8" />

    <script>
        $(document).ready(function () {



        }
        );
    </script>

</head>
<body style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size:13px;">
    <!-- <uidiv> -->
    <div id="warning">
        <h1 style="font-weight:500;">Speech Recognition Speech SDK not found (microsoft.cognitiveservices.speech.sdk.bundle.js missing).</h1>
    </div>

    <div id="content" style="display:none">
        <table width="100%">
            <tr>
                <td></td>
                <td><h1 style="font-weight:500;">Microsoft Cognitive Services Speech SDK JavaScript Quickstart</h1></td>
            </tr>
            <tr>
                <td align="right"><a href="https://docs.microsoft.com/azure/cognitive-services/speech-service/get-started" target="_blank">Subscription</a>:</td>
                <td><input id="subscriptionKey" type="text" size="40" value="a0f0b1fdc338483b8e6615c523ca2f55"></td>
            </tr>
            <tr>
                <td align="right">Region</td>
                <td><input id="serviceRegion" type="text" size="40" value="southeastasia"></td>
            </tr>
            <tr>
                <td><button id="startRecognizeOnceAsyncButton">Start recognition</button></td>
                <td><button id="SecondRecognizeOnceAsyncButton">Second Start recognition</button></td>
                <td><button id="stopRecognizeOnceAsyncButton">Stop recognition</button></td>
            </tr>
            <tr>
                <td align="right" valign="top">Results</td>
                <td><textarea id="phraseDiv" style="display: inline-block;width:500px;height:200px"></textarea></td>
            </tr>
        </table>
    </div>



   
    <!-- </uidiv> -->
    <!-- <speechsdkref> -->
    <!-- Speech SDK reference sdk. -->
    <!-- </speechsdkref> -->
    <!-- <authorizationfunction> -->
    <!-- Speech SDK Authorization token -->
    <script src="https://pcrstest.igspectrum.net/Scripts/microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script>
    <script>
        // Note: Replace the URL with a valid endpoint to retrieve
        //       authorization tokens for your subscription.
        var authorizationEndpoint = "token.php";
        var _script = "";
        function RequestAuthorizationToken() {
            if (authorizationEndpoint) {
                var a = new XMLHttpRequest();
                a.open("GET", authorizationEndpoint);
                a.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                a.send("");
                a.onload = function () {
                    var token = JSON.parse(atob(this.responseText.split(".")[1]));
                    serviceRegion.value = token.region;
                    authorizationToken = this.responseText;
                    subscriptionKey.disabled = true;
                    subscriptionKey.value = "using authorization token (hit F5 to refresh)";
                    console.log("Got an authorization token: " + token);
                }
            }
        }
    </script>
    <!-- </authorizationfunction> -->
    <!-- <quickstartcode> -->
    <!-- Speech SDK USAGE -->
    <script>
        // status fields and start button in UI
        var phraseDiv;
        var startRecognizeOnceAsyncButton;
        var stopRecognizeOnceAsyncButton;

        // subscription key and region for speech services.
        var subscriptionKey, serviceRegion;
        var authorizationToken;
        var SpeechSDK;
        var recognizer;

        document.addEventListener("DOMContentLoaded", function () {
            startRecognizeOnceAsyncButton = document.getElementById("startRecognizeOnceAsyncButton");
            stopRecognizeOnceAsyncButton = document.getElementById("stopRecognizeOnceAsyncButton");
            SecondRecognizeOnceAsyncButton= document.getElementById("SecondRecognizeOnceAsyncButton");
            subscriptionKey = document.getElementById("subscriptionKey");
            serviceRegion = document.getElementById("serviceRegion");
            phraseDiv = document.getElementById("phraseDiv");

            startRecognizeOnceAsyncButton.addEventListener("click", function () {
                // startRecognizeOnceAsyncButton.disabled = true;
                phraseDiv.innerHTML = "";

                // if we got an authorization token, use the token. Otherwise use the provided subscription key
                var speechConfig;
                if (authorizationToken) {
                    speechConfig = SpeechSDK.SpeechConfig.fromAuthorizationToken(authorizationToken, serviceRegion.value);
                } else {
                    if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
                        alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
                        return;
                    }
                    speechConfig = SpeechSDK.SpeechConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);
                }

                speechConfig.speechRecognitionLanguage = "en-US";
                var audioConfig = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
                recognizer = new SpeechSDK.SpeechRecognizer(speechConfig, audioConfig);

                recognizer.startContinuousRecognitionAsync();

                //  The event recognizing signals that an intermediate recognition result is received.
                recognizer.recognizing = function (s, e) {
                    console.log('recognizing text', e.result.text);
                };

                //  The event recognized signals that a final recognition result is received.
                recognizer.recognized = function (s, e) {
                    console.log('recognized text Finle', e.result.text);
                    if (e.result.text) {
                        _script += e.result.text;
                        $('#phraseDiv').val(_script);
                    }
                    //phraseDiv.innerHTML = script;
                };

                recognizer.speechEndDetected = function (X, e) {
                    //  alert('speechEndDetected ')
                    // startContinuousRecognitionAsync(); // this is a separate function that starts up speech recognition.
                };

            });



            stopRecognizeOnceAsyncButton.addEventListener("click", function () {
                recognizer.stopContinuousRecognitionAsync();
                console.log('*************** Stop');
            });

             SecondRecognizeOnceAsyncButton.addEventListener("click", function () {
                recognizer.startContinuousRecognitionAsync();
                console.log('*************** Stop');
            });

            if (!!window.SpeechSDK) {
                SpeechSDK = window.SpeechSDK;
                startRecognizeOnceAsyncButton.disabled = false;

                document.getElementById('content').style.display = 'block';
                document.getElementById('warning').style.display = 'none';

                // in case we have a function for getting an authorization token, call it.
                if (typeof RequestAuthorizationToken === "function") {
                    RequestAuthorizationToken();
                }
            }
        });
    </script>
    <!-- </quickstartcode> -->
</body>
</html>

